<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.keemsa.popularmovies">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <!-- Permissions required by the sync adapter -->
    <uses-permission android:name="android.permission.READ_SYNC_SETTINGS" />
    <!-- No need to write, the app only reads from the server -->
    <uses-permission android:name="android.permission.WRITE_SYNC_SETTINGS" />
    <uses-permission android:name="android.permission.AUTHENTICATE_ACCOUNTS" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".CatalogActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".DetailsActivity"
            android:parentActivityName=".CatalogActivity"></activity>
        <activity
            android:name=".SettingsActivity"
            android:parentActivityName=".CatalogActivity"></activity>

        <provider
            android:name="com.keemsa.popularmovies.provider.MovieProvider"
            android:authorities="com.keemsa.popularmovies"
            android:exported="false"
            android:syncable="true" />

        <service android:name=".sync.MoviesAuthenticatorService">
            <intent-filter>
                <action android:name="android.accounts.AccountAuthenticator"></action>
            </intent-filter>
            <meta-data
                android:name="android.accounts.AccountAuthenticator"
                android:resource="@xml/movies_authenticator" />
        </service>

        <service
            android:name=".sync.MoviesSyncService"
            android:exported="true">
            <intent-filter>
                <action android:name="android.content.SyncAdapter"></action>
            </intent-filter>
            <meta-data
                android:name="android.content.SyncAdapter"
                android:resource="@xml/movies_syncadapter" />
        </service>

        <service android:name=".service.TrailersService" />
        <service android:name=".service.DbService" />

    </application>

</manifest>